# Stage 2 scoring for dc_multi.toml

[scoring]
type = "geometric_mean"
parallel = 1

[[scoring.component]]
[scoring.component.DeepChemDMPNN]

[[scoring.component.DeepChemDMPNN.endpoint]]
name = "DeepChem DMPNN stage2"
# Adjust weights for multiple guiding with RL
weight = 0.5
params.checkpoint_path = "models/dc/last.ckpt"
params.transformer_path = "models/dc/y_transformer.joblib"
params.device = "cuda"
params.batch_size = 256
params.features_generators = "rdkit_desc_normalized, morgan"
params.depth = 3
params.ffn_hidden = 300
params.ffn_layers = 3
params.dropout_p = 0.1
params.bias = true
params.global_features_size = -1

# Tighter transform for a later stage
transform.type = "reverse_sigmoid"
transform.low = -30.0
transform.high = -8.0
transform.k = 0.4

[[scoring.component]]
[scoring.component.DeepChemDMPNN]

[[scoring.component.DeepChemDMPNN.endpoint]]
name = "DeepChem DMPNN stage2"
# Different DeepChem model for different property guiding
weight = 0.5
params.checkpoint_path = "models/dc/another.ckpt"
params.transformer_path = "models/dc/y_transformer_another.joblib"
params.device = "cuda"
params.batch_size = 256
params.features_generators = "rdkit_desc_normalized, morgan"
params.depth = 3
params.ffn_hidden = 300
params.ffn_layers = 3
params.dropout_p = 0.1
params.bias = true
params.global_features_size = -1

# Tighter transform for a later stage
transform.type = "reverse_sigmoid"
transform.low = -30.0
transform.high = -8.0
transform.k = 0.4
