run_type = "staged_learing"
use_cuda = true
tb_logdir = "tb_logs"
json_out_config = "staged_rl_learning.json"

[parameters]
use_checkpoint = false
summary_csv_prefix = "staged_learning_rl"

prior_file = "models/reinvent.prior"
agent_file = "models/reinvent.prior"

## Mol2Mol
#prior_file = "models/mol2mol_scaffold_generic.prior"
#agent_file = "models/mol2mol_scaffold_generic.prior"
#smiles_file = "mol2mol.smi"
#sample_strategy = "multinomial"
#distance_thresholdl = 100

batch_size = 64
unique_sequences = true
randomize_smiles = true

[leraning_strategy]

type = "dap"
sigma = 128
rate = 0.0001

[diversity_filter]
bucket_size = 25
minscore = 0.4
minsimilarity = 0.4
penalty_multiplier = 0.5

# which property to learn first?, or at once
[[stage]]
chkpt_file = 'stage1.chkpt'

termination = "simple"
# terminate after score is higher than 0.6
max_score = 0.6
min_steps = 25
max_steps = 200

[stage.scoring]
type = "geometric_mean"

# adjust hyperparameters heuristically
[[stage.scoring.component]]
[stage.scoring.component.de]
transform.type = 
transform.high = 80
transform.low = 30
transform.coef_div = 
transform.coef_si = 
transform.coef_se = 
name = "de"
weight = 0.5

# adjust hyperparameters heuristically
[[stage.scoring.component]]
[stage.scoring.component.esol`]
transform.type = 
transform.high = 
transform.low = 
transform.coef_div = 
transform.coef_si = 
transform.coef_se = 
name = "esol"
weight = 0.5


