run_type = "staged_learning"
device = "cuda:0"
json_out_config = "log/json_out.json"
tb_logdir = "log"
seed = 42

[parameters]
prior_file = "model/prior/reinvent.prior"
agent_file = "model/agent/reinvent.prior"
summary_csv_prefix = "2_14_init_42"
use_checkpoint = "true"
purge_memories = "true"
save_every_n_steps = 100
# smiles_file = "<path/to/SMILES>"
batch_size = 100
randomize_smiles = true
# to remove redundancies in the generated smiles
unique_sequences = false
temperature = 1.3
sample_strategy = "multinomial"
# sample_strategy = "beamsearch"

[learning_strategy]
type = "dap"
sigma = 128
rate = 0.00006

[diversity_filter]
type = "ScaffoldSimilarity"
# type = "PenalizeSameSmiles"
bucket_size = 25
minscore = 0.4
minsimilarity = 0.4
# # For PenalizeSameSmiles
# penalty_multiplier = 0.5

[inception]
# # May add good smiles here to seed memory
# smiles_file = "generate/incept/214.smi"
# memory_size = 68
# sample_size = 10

[[stage]]
# # First stage for de, logd, sa score
max_steps = 15000
# # Mind the scoring function and adjust max_score accordingly
max_score = 0.9
min_steps = 50
termination = "simple"
chkpt_file = "generate/2_14_42.chkpt"

# [stage.diversity_filter]
# # Add diversity filters from [diversity_filter] that is specific to this stage
# # Do not use when [diversity_filter] is enabled

[stage.scoring]
# [stage.scoring] can reference external scoring file
filename = "configs/score.toml"
filetype = "toml"
