type = "geometric_mean"
parallel = 1

### DE ###
### Mean and Std Must be calculated explicitly from train
[[component]]
[component.CompUnimol]
[[component.CompUnimol.endpoint]]
name = "DE"
weight = 0.25
params.model_dir = "generate/unimol/de_unimol.pth"
params.model_name = "unimolv2"
params.model_size = "84m"
params.batch_size = 64
params.use_cuda = true
params.scaler_mean = 73.979027
params.scaler_std = 18.254017
params.unimol_tools_path = "unimol_tools"
# 40 70 window
transform.type = "reversesigmoid"
transform.high = 60.0
transform.low = 40.0
transform.k = 0.4

### FP ###
[[component]]
[component.CompUnimol]
[[component.CompUnimol.endpoint]]
name = "FP"
weight = 0.25
params.model_dir = "generate/unimol/fp_unimol.pth"
params.model_name = "unimolv2"
params.model_size = "84m"
params.batch_size = 64
params.use_cuda = true
params.scaler_mean = 336.4485778808594
params.scaler_std = 68.4540023803711
params.unimol_tools_path = "unimol_tools"
transform.type = "sigmoid"
transform.high = 666.3
transform.low = 0
transform.k = 4

### KETONES ###
[[component]]
[component.NKetones]
[[component.NKetones.endpoint]]
name = "NKetones"
weight = 0.020
transform.type = "valuemapping"
[component.NKetones.endpoint.transform.mapping]
"0.0" = 0.0
"0" = 0.0
"0." = 0.0
"1.0" = 0.5
"1." = 0.5
"1" = 0.5
"2.0" = 1.0
"2" = 1.0
"3.0" = 1.0
"3" = 1.0
"4.0" = 1.0
"4" = 1.0
"5.0" = 1.0
"5" = 1.0
"6.0" = 1.0
"6" = 1.0
"7.0" = 1.0
"7" = 1.0
"8.0" = 1.0
"8" = 1.0
"9.0" = 1.0
"9" = 1.0
"10.0" = 1.0
"10" = 1.0

### MP ###
### Mean and Std must be calculated explicitly from train
[[component]]
[component.CompUnimol]
[[component.CompUnimol.endpoint]]
name = "MP"
weight = 0.2
params.model_dir = "generate/unimol/mp_unimol.pth"
params.model_name = "unimolv2"
params.model_size = "84m"
params.batch_size = 64
params.use_cuda = true
params.scaler_mean = 388.036957
params.scaler_std = 62.264420
# Lower than 300K
params.unimol_tools_path = "unimol_tools"
transform.type = "reversesigmoid"
transform.high = 626.3
transform.low = 0
transform.k = 4


### caph2 ###
[[component]]
[component.CompCapH2]
[[component.CompCapH2.endpoint]]
name = "CapH2"
weight = 0.2
# No parameters needed for CompCapH2 (direct calculation from rdkit)
transform.type = "sigmoid"
transform.high = 10.0
transform.low = 0.0
transform.k = 3





# ### SA ###
# [[component]]
# [component.SAScore]
# [[component.SAScore.endpoint]]
# name = "SA"
# weight = 0.075
# transform.type = "reversesigmoid"
# transform.low = 0
# transform.high = 12
# transform.k = 0.5



### LOHC Filter ###
# [[component]]
# [component.CompLOHCFilter]
# [[component.CompLOHCFilter.endpoint]]
# name = "LOHC"
# weight = 0.05




# ###RAscore###
# [[component]]
# [component.ExternalProcess]
# [[component.ExternalProcess.endpoint]]
# name = "RAScore"
# weight = 0.075
# params.executable = "/home/intern_01/miniconda3/envs/rascore/bin/python"
# params.args = "support/run-rascore.py"
# params.property = "RAScore"



# this gives non-normalizability to the score... but
# [[component]]
# [component.NumRotBond]
# [[component.NumRotBond.endpoint]]
# name = "RotBonds"
# weight = 0.005
# transform.type = "reversesigmoid"
# transform.low = -4.0
# transform.high = 9.0
# transform.k = 0.3
